= form_tag search_path, method: :get, class: 'search-page-form js-search-form' do |f|
  = hidden_field_tag :snippets, params[:snippets]
  = hidden_field_tag :scope, params[:scope]

  .d-lg-flex.align-items-end
    .search-field-holder.form-group.mr-lg-1.mb-lg-0
      %label{ for: "dashboard_search" }
        = _("What are you searching for?")
      .position-relative
        = search_field_tag :search, params[:search], placeholder: _("Search for projects, issues, etc."), class: "form-control search-text-input js-search-input", id: "dashboard_search", autofocus: true, spellcheck: false
        = icon("search", class: "search-icon")
        %button.search-clear.js-search-clear{ class: ("hidden" if !params[:search].present?), type: "button", tabindex: "-1" }
          = icon("times-circle")
          %span.sr-only
            = _("Clear search")
    - unless params[:snippets].eql? 'true'
      = render 'filter'
    .d-flex-center.flex-column.flex-lg-row
      = button_tag _("Search"), class: "btn btn-success btn-search form-control mt-lg-0 ml-lg-1 align-self-end"
      = render_if_exists 'search/form_elasticsearch'
